body{
 background-color: hsl(233, 47%, 7%);

 font-family: 'Inter', sans-serif;
 font-size: 15px;
 font-weight: normal;
 line-height:normal;
 margin:0;
}

.container-1{
 display:flex;
 justify-content: center;
 margin:15rem;
}
.box-1{
 flex-basis: 500px;
 flex-grow: 0;
 flex-shrink: 0;
 background-color: hsl(244, 38%, 16%);
 border-radius: 5px 0 0 5px;
 height: 446px;
}
.box-2{
 flex-basis:500px;
 flex-grow: 0;
 flex-shrink: 0;
}
p{
 color:hsla(0, 0%, 100%, 0.6);
 padding-inline-start: 75px;
 padding-top: 10px;
 line-height: 20px;
 font-size: 12px;
}
h1{
 color:hsl(0, 0%, 100%);
 padding-top: 50px;
 padding-inline-start: 75px;
}
span{
 color: hsl(277, 64%, 61%);
}
.h2_container{
 display:flex;
 padding-inline-start: 75px;
 margin-top: 50px;
 padding-bottom: 0px;
 height: 30px;
}
h2{
 color:hsl(0, 0%, 100%);
}
.h2_box2{
padding-inline-start: 70px;
}
.h2_box3{
 padding-inline-start: 70px;
}
.h6_container{
 display:flex;
 padding-inline-start: 75px;
 padding-bottom: 50px;
 height: 10px;
}
h6{
 color:hsla(0, 0%, 100%, 0.6);
}
.h6_box2{
 padding-inline-start: 63px;
}

.h6_box3{
 padding-inline-start: 55px;
}
img{
 
 border-radius: 0 5px 5px 0;
 filter:brightness(30%) sepia(50%) saturate(40) hue-rotate(270deg);
}
@media (max-width:1024px){
.container-1{
 flex-direction: column-reverse;
 justify-content: center;
 margin:0;
}
.box-1{
 margin:0;
 width: 540px;
}
.box-2{
 margin:0;
 flex-basis:0;
}
}


